# Renomeie este arquivo para .env e preencha com suas chaves reais
VITE_SUPABASE_URL=sua_url_do_supabase_aqui
VITE_SUPABASE_KEY=sua_chave_anon_key_do_supabase_aqui
VITE_ADMIN_PASSWORD=sua_senha_de_admin_aqui