@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Mesh Gradient Animation */
    .animate-mesh {
        background: linear-gradient(45deg,
                #111827,
                #991b1b,
                #c2410c,
                #ca8a04,
                #111827);
        background-size: 400% 400%;
        animation: mesh-flow 15s ease infinite;
    }

    @keyframes mesh-flow {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

/* Esconde o recibo da tela normal */
#receipt {
    display: none;
}

@media print {

    /* Esconde o site inteiro */
    body>*:not(#receipt) {
        display: none !important;
    }

    #root {
        display: none !important;
    }

    /* Força o recibo a aparecer */
    #receipt {
        display: block !important;
        position: relative !important;
        width: 100% !important;
        max-width: 72mm !important;
        margin: 0 !important;
        padding: 4mm !important;
        background: white !important;
        color: black !important;
        font-family: 'Courier New', Courier, monospace !important;
        font-size: 10pt !important;
    }

    #receipt * {
        display: block;
        /* Garante que filhos não herdem display none */
        visibility: visible !important;
    }

    table {
        width: 100%;
    }

    @page {
        margin: 0;
        size: auto;
    }
}

.screen-only {
    display: block;
}