@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Mesh Gradient Animation */
    .animate-mesh {
        background: linear-gradient(45deg,
                #111827,
                #991b1b,
                #c2410c,
                #ca8a04,
                #111827);
        background-size: 400% 400%;
        animation: mesh-flow 15s ease infinite;
    }

    @keyframes mesh-flow {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

@media print {

    /* Esconde absolutamente TUDO exceto o recibo */
    body * {
        visibility: hidden !important;
    }

    #receipt,
    #receipt * {
        visibility: visible !important;
    }

    /* Estilo do Recibo para Impressora Térmica */
    #receipt {
        display: block !important;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: 72mm !important;
        /* Segurança para papel de 80mm */
        margin: 0 !important;
        padding: 0 !important;
        background: white !important;
        color: black !important;
        font-family: 'Courier New', Courier, monospace !important;
        font-size: 11pt !important;
        line-height: 1.2 !important;
        opacity: 1 !important;
    }

    /* Firefox especifico: Forçar margens zero na página */
    @page {
        margin: 0;
        size: auto;
    }
}

.screen-only {
    display: block;
}